# Ignore everything by default
/*

# Keep repository metadata and publishable files
!.gitignore
!README.md
!LICENSE
!pyproject.toml
!uv.lock
!run_augmentation.sh
!.github/
.github/*
!.github/workflows/
.github/workflows/*
!.github/workflows/ci.yml

# Keep only the core package entry points
!src/
src/*
!src/ringaug/
src/ringaug/*
!src/ringaug/__init__.py
!src/ringaug/augmentor.py
!src/ringaug/helper.py
!src/ringaug/cli.py
!tests/
tests/*
!tests/test_imports.py
